html {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: rgba(0,0,0,70%);
  width: 99%;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

h1 {
  font-size: 2.5rem;
  margin: 2rem 0;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.content-flow {
  padding: 2rem 1.5rem
}

.navigation a {
  text-decoration: none;
  color: black;
}

.navigation ul {
  list-style: none;
}

.navigation li {
  display: inline-block;
  margin-right: 1rem;
}

#header .colmar {
  font-weight: 600;
}

#header .academy {
  font-weight: 400;
  color: rgba(0,0,0,50%);
}

#header {
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding-left: 1.5rem;
  padding-right: 0.5rem;
  height: 4rem;
}

#header .logo-text {
  display: inline-flex;
  align-items: center;
}

#banner {
  display: flex;
  align-items: center;
  background-color: #DCDCDC;
}

.big-pic {
  display: inline-flex;
  margin-right: 1.5rem;
}
#banner .big-pic {
  width: 60%;
}
.big-pic img {
  width: 99%;
}

#banner .banner-content {
  width: 40%;
}
#banner .article {
  margin: 1.5rem auto;
}
#banner .banner-content p {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

#banner button {
  background-color: rgba(0,0,0,70%);
  color: white;
  padding: 0.5rem 35%;
  font-size: 1.25rem;
  font-weight: 300;
}

#banner button:hover {
  background-color: rgba(0,0,0,40%);
  cursor: pointer;
}

#news {
  background-color: #ffffff;
  display: flex;
}

#news .small-news{
  width: 40%;
  display: inline-flex;
  flex-flow: column;
}

#article-2,
#article-3,
#article-4 {
  padding: 1rem;
  border-left: 0.03125rem solid #DCDCDC;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#article-4 {
  background-color: #DCDCDC;
}

.publication {
  margin: 0.5rem auto;
  font-size: 1.125rem;
  color: rgb(105,105,105);
}

.author {
  margin: 2rem 0;
  font-size: 0.875rem
}
#article-1 h1 {
  margin-bottom: 1.5rem;
}
#article-1 {
  width: 60%;
}

.img-content {
  width: 35%;
} 

.img-content img {
  width: 100%;
} 

.article-content {
  width: 60%;
}

#article-1 .article-content {
  width: 99%;
}
