.breadcrumb li{
  display: inline;
}

.breadcrumb li.location+li.location::before {
  content: "> ";
}

.attribute a::after {
  content: " x";
  color: gray;
  vertical-align: super;
  font-size: 0.8em;
}

.breadcrumb a {
  text-decoration: none;
  margin: 10px;
  box-sizing: border-box;
}

.attribute a {
  color: gray;
}

.location a:hover {
  color: green;
  font-size: 1.2em;
}

.attribute a:hover {
  color: orange;
}

.landing {
  margin: 10px auto;
}
