a {
  text-decoration: underline;
  cursor: pointer;
  color: #2176FF
}
a:hover {
  text-decoration: none;
}

.nav-link {
  text-decoration: none;
}
.nav-link:hover {
  color: #FF8C00;
}

.activity {
  text-decoration: none;
}
.activity:hover {
  background-color: #6495ED;
  margin-top: 10px;
}
.activity:active {
  background-color: #B5BDDCAA;
  color: #000;
  font-weight: 500;
}

.btn {
  color: #dddddd;
  background-color: #41475F77;
  font-family: 'Raleway', sans-serif;
  border-radius: 15px;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 16px;
  align-items: center;
  justify-content: center;
  padding: 15px 5px;
  font-weight: 500;
  text-transform: uppercase;
}

.btn:hover {
  color: #dddddd;
  background-color: #41475F77;
  font-weight: 500;
  font-size: 18px;
  transition: color .1s ease-in, background-color .1s ease-in;
}

.btn:active {
  background-color: #B5BDDCAA;
  color: #000;
  font-weight: bold;
  font-size: 18px;
}
